.projects_list{
    margin: 0 rem(40);
    display: grid; 
    grid-template-columns: 1fr;
    grid-gap: rem(25) rem(20);
    @include for-tablet-up{
        grid-template-columns: 1fr 1fr;
    }
    @include for-desktop-up{
        grid-template-columns: 1fr 1fr 1fr;
    }
    &-item{
        border: solid 2px $dark-grey;
        border-radius: rem(5);
        padding: rem(10) 0;
    }
}
#skills{
    height: rem(15);
}