.skills{
    &_wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: rem(25) rem(20);
        margin: rem(40) rem(40);
        @include for-tablet-up{
            margin: rem(60) rem(85);
            grid-template-columns: 1fr 1fr;
            grid-gap: rem(25) rem(35);
        }
        @include for-desktop-up{
            margin: rem(80) rem(130);
        }
    }
    &_education{
        &-title{
            border-bottom: 2px solid $red;
        }
    }
    &_tech{
        &-title{
            border-bottom: 2px solid $red;
        }
        &-container{
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.education{
    &_title{
        font-size: rem(16);
        @include for-tablet-up{
            font-size: rem(18);
        }
        @include for-desktop-up{
            font-size: rem(20);
        }
    }
    &_date{
        font-size: rem(14);
        margin: rem(5) 0;
        @include for-tablet-up{
            font-size: rem(16);
            margin: rem(7) 0;
        }
        @include for-desktop-up{
            font-size: rem(18);
            margin: rem(9) 0;
        }
    }
    &_description{
        font-size: rem(12);
        margin: rem(8) 0;
        @include for-tablet-up{
            font-size: rem(14);
            margin: rem(12) 0;
            line-height: rem(16);
        }
        @include for-desktop-up{
            font-size: rem(16);
            margin: rem(14) 0;
            line-height: rem(18);
        }
    }
}

.skills_text{
    @include for-tablet-up{
        font-size: rem(14);
        line-height: rem(18); 
    }
    @include for-desktop-up{
        font-size: rem(16);
        line-height: rem(20);
    }
}